<div class="container">
    <button class="btn btn-primary">{{'checker'| translate}}</button>
    <app-cockpit (serverCreated)="onServerAdded($event)" (blueprintCreated)="onBlueprintAdded($event)">
        <h1>changes 23frb</h1>
    </app-cockpit>
    <br>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary " (click)="onChangeFirst()">{{'common.form'| translate}} </button>
            &nbsp;
            <br>
            <br>
            <button class="btn btn-danger" (click)="ondestroy()" > {{'common.form222'| translate}} </button>
            <app-server-element *ngFor="let serverElement of serverELements" [srvEle]="serverElement"
            [name]="serverElement.name">
            <br>
                <p #contentPara>
                  <strong *ngIf="serverElement.type === 'server'" style="color:red">{{serverElement.content}}</strong>
                    <em *ngIf="serverElement.type === 'blueprint'"> {{serverElement.content}}</em>

                </p>


            </app-server-element>
        </div>
    </div>
</div>


<h1>{{'common.form'| translate}} </h1>
<h2>chanes in app component for the second time @23frb</h2>


23 feb  fetch command test once \\\\\\\checking ones  take a look